{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "env": {
    "browser": true
  },
  "parserOptions": {
      ecmaVersion: 6,
      ecmaFeatures: {
          jsx: true
      },
      sourceType: "module"
  },
  "plugins": [ "react" ]
}
