@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: $light-gray;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    width: 100%;

    font-family: $base-font-family;
    font-size: $base-font-size;

    line-height: normal;
    letter-spacing: auto;
    color: $text-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:after {
    content: '320';
    display: none;
}

img,
picture {
    line-height: 0;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
  -webkit-text-fill-color: $text-color;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

select::-ms-expand {
    display: none;
}

.site-wide {
    margin: 0 auto;
    width: 100%;
    max-width: $site-max-width;
    padding-left: $base-padding;
    padding-right: $base-padding;

    @include media('mobile') {
        padding-left: $base-padding-mobile;
        padding-right: $base-padding-mobile;
    }
}

.page-error {
    font-size: 20px;
    font-style: italic;
    color: $text-color-light;

    a {
        color: $text-color-light;
    }
}