.product-list {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	width: calc(100% + 2 * #{$product-gutter-padding});
	margin-left: -$product-gutter-padding;
	margin-right: -$product-gutter-padding;

	&__loading {
		margin: 0 auto;
		padding-bottom: 80px;
		text-align: center;

		color: $text-color-light;
		font-size: 20px;
	}
}