.product-card {
	@include flexbox;
	@include flex-direction(column);
	width: 25%;
	padding: 0 $product-gutter-padding;
	text-decoration: none;
	color: $text-color;
	margin-bottom: 40px;

	@include animation(fadeIn 0.6s 0s 1 forwards);

	@include media('tablet') {
		width: 33.33333%;
	}
	@include media('mobile') {
		width: 100%;
	}

	&--empty {
		height: 0;
		margin-bottom: 0 !important;
	}

	&:hover {
		.product-card__info {
			background-color: darken($light-gray, 5%);
		}
		.product-card__image {
			@include scale(1.02);
		}
	}

	&__image-wrapper {
		width: 100%;
		height: 320px;
		min-height: 320px;
		overflow: hidden;

		.lazyload-wrapper {
			width: 100%;
			height: 100%;
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
		}
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
		@include transition(transform .2s);
	}

	&__info {
		border-top: 1px solid $border-color;
		margin-top: 5px;
		padding: 10px 7px;
		background-color: $light-gray;
		height: 100%;
		@include transition(background-color 0.2s);

		@include media('mobile') {
			background-color: $light-gray !important;
		}
	}

	&__brand {
		display: block;
		text-transform: uppercase;
		color: $gray;
		font-size: 14px;
		margin-bottom: 3px;

		@include media('mobile') {
			font-size: 16px;
		}
	}

	&__name {
		display: block;
		font-size: 20px;
		font-weight: 600;

		@include media('mobile') {
			font-size: 22px;
		}
	}

	&__price {
		display: block;
		color: $yellow;
		font-weight: 600;

		@include media('mobile') {
			font-size: 18px;
		}
	}
}